.g_biaoti {
	height: 50px;
	background: rgba(128, 128, 128, 0.5);
	border-radius: 3px;
	box-shadow: 0 1px 10px #080808;
	margin-bottom: 5px;
}

.g_biaoti span {
	float: left;
	text-align: center;
	line-height: 50px;
}

.g_biaoti span:first-child {
	display: block;
	width: 30%;
}

.g_biaoti span:nth-child(2) {
	display: block;
	width: 40%;
}

.g_biaoti span:nth-child(3) {
	display: block;
	width: 15%;
}

.g_biaoti span:last-child {
	display: block;
	width: 15%;
}

.g_angular {
	background: rgba(128, 128, 128, 0.1);
	border-radius: 3px;
}

.g_fabiao {
	height: 50px;
	color: #fff;
	padding-left: 10px;
}

.g_tt {
	float: left;
	width: 30%;
	height: 50px;
	line-height: 50px;
}

.g_cc {
	float: left;
	width: 40%;
	height: 50px;
	line-height: 50px;
}

.g_mm,
.g_dd {
	float: left;
	width: 15%;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

.g_mm button,
.g_dd button,
.g_dianji button {
	width: 80px;
	height: 30px;
	font-size: 16px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	background: rgba(128, 128, 128, 0.8);
	line-height: 30px;
}

.g_dianji {
	height: 50px;
	padding-left: 10px;
	line-height: 50px;
}

.g_fabiao1 {
	height: 50px;
	color: #fff;
	padding-left: 10px;
}

.g_tt1 {
	float: left;
	width: 30%;
	height: 50px;
	line-height: 50px;
}

.g_cc1 {
	float: left;
	width: 40%;
	height: 50px;
	line-height: 50px;
}

.g_tt1 input,
.g_cc1 input {
	width: 90%;
	height: 30px;
	border: 0;
	background: rgba(128, 128, 128, 0.3);
	border-radius: 5px;
	padding-left: 5px;
	font-size: 16px;
}