				<div class="biaoti">
					<span>id</span>
					<span>TITLE</span>
					<span>MODIFY</span>
					<span>DELETE</span>
				</div>
<div class="tk" ng-show="isfor">确定删除此项么？
	<button ng-click='fuc()'>确定</button>
	<button ng-click='fuv()'>取消</button>
</div>
<div class="beijing">
	<div ng-repeat="t in data" class="fabiao">
		<div class="cc">{{t.id}}</div>
		<div class="tt">{{t.title}}</div>
		<div class="mm"><button ng-click="Edit(t)">修改</button></div>
		<div class="dd"><button ng-click="Del(t)">删除</button></div>

	</div>
	<div class="dianji"><button ng-click="Add()">添加</button></div>
	<div ng-show="isshow" class="fabiao1">
		<div>
				<div class="form-group">
					<label for="exampleInputFile">上传文件</label>
					<input type="file" id="exampleInputFile" onchange="setFiles(this)" multiple>
				</div>
			</div>
			<button type="button" class="tupian" ng-click="uploadFiles()">提交图片</button><br /><br />
		标题：<input class="tt1"type="text" placeholder="title" ng-model="updata.title"><br />
		 详情：<textarea class="cc1" name="" id="" cols="30" rows="10" ></textarea>
		<div class="tijiao"><button ng-click="Required()">修改</button></div>
		<div class="shangchuan"><button ng-click="AddRequired()">提交</button></div>
		<div class="shangchuan"><button ng-click="qxiao()">取消</button></div>
		
		
	</div>
</div>
<script>
	$(".cc1").summernote()
	
</script>
