
		<div id="content">
					<ul class="nav">
						<li>Title</li>
						<li>Summary</li>
						<li>Content</li>
						<li>Delete</li>
					</ul>
				<div ng-repeat="x in data" class="div">
					<p class="title">{{x.title}}</p>
					<p class="summery">{{x.summary}}</p>
					<p class="content">{{x.content}}</p>
					<p class="change">
						<button ng-click="edit(x)" class="edit">编辑</button>
						<button ng-click="del(x)" class="del">删除</button>
					</p>
				</div>
				<input type="button" value="添加" ng-click='tj()' />
				<div ng-show="f" class="show">
					<p class="title_t">Title:</p>
	  					<input type="text" ng-model="s.title" class="tit">
	  				<p class="summary_t">Summary:</p>
	  					<input type="text" ng-model="s.summary" class="sum">
	   				<p class="content_t">Content:</p>
	   					<textarea class="abc" ng-model="s.content" cols="30" rows="10"></textarea>
				
					<button ng-click="save()" class="save">save</button>
	   				<button ng-click="addsave()" class="sub">submit</button>
	   				<button ng-click="yc()" class="yc">X</button>
	   			</div>
			</div>
			
			<script>
				$(".abc").summernote()
			</script>

	
