
		<div id="content">
					<ul class="nav">
						<li>Title</li>
						<li>Summary</li>
						<li>Content</li>
						<li>Delete</li>
					</ul>
				<div ng-repeat="x in data" class="div">
					<p class="title">{{x.title}}</p>
					<p class="summery">{{x.summary}}</p>
					<p class="content">{{x.content|f}}</p>
					<p class="change">
						<button ng-click="edit(x)" class="edit">编辑</button>
						<button ng-click="del(x)" class="del">删除</button>
					</p>
				</div>
				<input type="button" value="添加" ng-click='tj()' />
				<div ng-show="f" class="show">
				<form role="form">
				  <div class="form-group">
				    <label for="exampleInputEmail1">Title</label>
				    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Title" ng-model="s.title" class="tit">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Summary</label>
				    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Summary" ng-model="s.summary" class="sum">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Content</label>
				    <textarea class="abc" cols="30" rows="10"></textarea>
				  </div>
				  <button type="submit" class="btn btn-default" ng-click="save()">Save</button>
				  <button type="submit" class="btn btn-default" ng-click="addsave()">Submit</button>
	   				<button type="button" class="close" ng-click="yc()"><span aria-hidden="true"class="yc">&times;</span><span class="sr-only">Close</span></button>	   			
	   				
	   			</div>
			</div>
			
			<script>
				$(".abc").summernote()
			</script>

	
